body {
  margin: 0;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
}

.about-us-text h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  color: #3E5BA9;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.page {
  margin-left: 10vw;
  margin-right: 10vw;
}

.about-us-box {
  display: flex;
  height: 730px;
  align-items: center;
  overflow: hidden;
}

.reverse {
  flex-direction: row-reverse;
}

.about-us-img-box {
  position: absolute;
  width: 50vw;
  height: 730px;
  overflow: hidden;
  z-index: -200;
  right: 0;
}

.reverse .about-us-img-box {
  right: auto;
  left: 0;
}

.about-us-text {
  width: 35vw;
}

.about-us-text p {
  margin-top: 60px;
  text-align: right;
}

.about-us-header-back {
  display: flex;
  height: 200px;
  align-items: center;
}

.about-us-grey-back {
  height: 200px;
  min-width: 60vw;
  position: absolute;
  left: 0;
  background-color: #A7A9AC;
  opacity: 0.8;
  z-index: -100;
}

.reverse .about-us-grey-back {
  left: auto;
  right: 0;
}

.our-service-body{
  height: 970px;
}

.our-service{
  position: absolute;
  left: 0;
  background-image: url("/lib/service.png");
  background-size: cover;
  width: 100vw;
  height: 970px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.our-service h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  color: white;
}

.button-container {
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.our-service-button {
  background-color: transparent;
  border-radius: 17px;
  border: 2px solid #ffffff;
  cursor: pointer;
  min-width: 250px;
  width: 20vw;
  height: 100px;
  color: #ffffff;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 1.5vw;
  margin-bottom: 1.5vw;
}

.our-service-button:hover {
  background-color: #ffffff;
  color: black;
}
