h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
}

.about-us-text h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.page {
  margin-left: 10vw;
  margin-right: 10vw;
}

.about-us-box {
  display: flex;
  height: 730px;
  align-items: center;
  overflow: hidden;
}

.reverse {
  flex-direction: row-reverse;
}

.about-us-img-box {
  position: absolute;
  width: 50vw;
  height: 730px;
  overflow: hidden;
  z-index: -200;
  right: 0;
}

.reverse .about-us-img-box {
  right: auto;
  left: 0;
}

.about-us-text {
  width: 35vw;
}

.about-us-header-back {
  display: flex;
  height: 200px;
  align-items: center;
}

.about-us-grey-back {
  height: 200px;
  min-width: 60vw;
  position: absolute;
  left: 1vw;
  background-color: grey;
  opacity: 0.6;
  z-index: -100;
}

.reverse .about-us-grey-back {
  left: auto;
  right: 1vw;
}

.our-service{
  position: absolute;
  left: 0;
  background-image: url("/lib/service.png");
  background-size: 100vw auto;
  width: 100vw;
  height: 970px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container{
  width: 80vw;

}

.our-service-button{
  background-color: transparent;
  border-radius: 17px;
  border: 2px solid #ffffff;
  cursor: pointer;
  width: 400px;
  height: 120px;
  color: #ffffff;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.our-service-button:hover{
  background-color: #ffffff;
  color: black;
}