h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 36;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 48;
}

p{
  font-family: 'Montserrat', sans-serif;
  font-size: 16;
}

.page{
  margin-left: 10vw;
  margin-right: 10vw;
}

.about-us-box{
  display: flex;
  height: 730px;
  align-items: center;
  overflow: hidden;
}

.reverse{
  flex-direction: row-reverse;
}

.about-us-img{
  width: 50%;
  height: 100%;
}

.about-us-text{
  width: 50%;
  margin: 30px;
}

.about-us-headder-back{
  display: flex;
  height: 200px;
  align-items: center;
}

.about-us-grey-back{
  height: 200px;
  min-width: 60vw;
  position: absolute;
  left: 0;
  background-color: grey;
  opacity: 0.3;
  z-index: -100;
}

.reverse .about-us-grey-back{
  left: auto;
  right: 0;
}