.wrapper {
  background-image: url("/lib/contact.jpg");
  background-size: cover;

  opacity: 0.85;
  margin: 0 auto;
  height: 95vw;
  z-index: -10;
}

.header {
  text-align: center;
  color: white;
  font-size: 6vw;
  padding: 2vw 0;
}

.content {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.boxes {
  color: white;
  display: flex;
  flex-direction: row;
}

.sub-header {
  color: white;
}

.left-box {
  z-index: 0;
  width: 65%;
}

.left-box-fill-in {
  background-color: gray;
  opacity: 0.6;
}
.row {
  display: flex;
  flex-direction: row;
}

.input {
  width: 45%;
  padding: 1vw;
}

.input-information {
  margin-bottom: 0.3vw;
}

.input-field {
  width: 100%;
}

.message {
  padding: 1vw;
  width: 100%;
}

.message-field {
  width: 90%;
  height: 3vw;
}

.send-button {
  display: flex;
  text-align: center;
  margin: 1vw auto;
}

.right-box {
  margin: 0 1vw;
  width: 30%;
  background-color: gray;
  opacity: 0.6;
}
