.wrapper {
  font-family: "Montserrat";
  background-image: url("/lib/contact.jpg");
  background-size: cover;
  margin: 0 auto;
  height: 97vh;
  z-index: -10;
}

.header {
  text-align: center;
  color: white;
  font-size: 48px;
  padding: 2vh 0;
  letter-spacing: 0.2em;
}

.content {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.boxes {
  color: white;
  display: flex;
  flex-direction: row;
  height: 90%;
}

.sub-header {
  font-family: sans-serif;
  color: white;
  padding-bottom: 0.4em;
}

.left-box {
  z-index: 0;
  width: 65%;
}

.left-box-fill-in {
  background: rgba(255, 255, 255, 0.3);
  height: 100%;
}
.row {
  display: flex;
  flex-direction: row;
  padding: 0.2em;
}

.input {
  width: 46%;
  padding: 1em;
}

.input-information {
  color: rgba(255, 255, 255, 1);
  margin-bottom: 0.6vw;
  letter-spacing: 0.2em;
}

.input-field {
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  border-style: none;
  border-radius: 10px;
  height: 4vh;
  font-size: 1.1em;
}

.message {
  padding: 1.2em;
}

.message-input {
  margin-bottom: 0.3vw;
  letter-spacing: 0.2em;
}

textarea {
  padding: 0;
  margin: 0;
  height: 20vh;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  border-style: none;
  resize: none;
  font-size: 1.1em;
}

.right-box {
  margin: 0 1vw;
  width: 30%;
  background: rgba(255, 255, 255, 0.3);
  /* opacity: 0.6; */
}

.right-box-header {
  padding: 1.2em;
  letter-spacing: 0.2em;
}

.right-box-content {
  font-family: sans-serif;
  letter-spacing: 0;
}

.fa-paper-plane:before {
  content: "\f1d8";
  color: #3e5ba9;
  background: #ffffff;
  padding: 0.3em;
  border-radius: 10px;
}

.send-button:hover {
  background-color: #ffffff;
  color: #3e5ba9;
}

.send-button {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
  border: 2px solid #ffffff;
  height: 7vh;
  margin-left: 20vw;
  margin-top: 2vh;
  margin-bottom: 1.5vh;
  align-items: center;
  color: #ffffff;
  width: 17vw;
  border-radius: 10px;
}

.left-content-button {
  font-family: "Montserrat";
  font-size: 24px;
  letter-spacing: 0.2em;
}
