nav.bar {
  display: inline-flex;
  height: 1.5vw;
  position: sticky;
  width: 100%;
  z-index: 10;
  background-color: white;
  overflow: hidden;

  color: grey;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 1.1em;

  /* required for position sticky */
  top: 0;

  /* content */
  justify-content: space-between;
}

div.right_menu a {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  border-right: solid;
  border-width: 2px;
}

nav a {
  color: #a9a9a9;
  text-decoration: none;
}

div.right_menu a:hover {
  border-style: solid;
  border-radius: 10px;
  border-color: blue;
  border-width: 2px;
}
