.wrapper-order {
  background: grey;
  font-family: "Montserrat";
  background-size: cover;
  margin: 0 auto;
  z-index: -10;
}

.header-order {
  text-align: center;
  color: white;
  font-size: 48px;
  padding: 4vh 0;
  letter-spacing: 0.2em;
}

.content-order {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.sub-header-contact-order {
  font-family: sans-serif;
  color: white;
  padding-bottom: 0.4em;
}
