.wrapper-contact {
  font-family: "Montserrat";
  background-image: url("https://aurlind.github.io/trinidad/lib/contact.jpg");
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  height: 100vh;
  z-index: -10;
}

.header-contact {
  text-align: center;
  color: white;
  font-size: 48px;
  padding: 4vh 0;
  letter-spacing: 0.2em;
}

.content-contact {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.boxes-contact {
  color: white;
  display: flex;
  flex-direction: row;
  height: 90%;
}

.sub-header-contact {
  font-family: sans-serif;
  color: white;
  padding-bottom: 0.4em;
}

.left-box-contact {
  z-index: 0;
  width: 65%;
}

.left-box-fill-in-contact {
  background: rgba(255, 255, 255, 0.3);
  height: 100%;
}
.row-contact {
  display: flex;
  flex-direction: row;
  padding: 0.2em;
}

.input-contact {
  width: 46%;
  padding: 1em;
}

.input-information-contact {
  color: rgba(255, 255, 255, 1);
  margin-bottom: 1vh;
  letter-spacing: 0.2em;
}

.input-field-contact {
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  border-style: none;
  border-radius: 10px;
  height: 4vh;
  font-size: 1.1em;
}

.message-contact {
  padding: 1.2em;
}

.message-input-contact {
  margin-bottom: 1vh;
  letter-spacing: 0.2em;
}

textarea {
  padding: 0;
  margin: 0;
  height: 20vh;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  border-style: none;
  resize: none;
  font-size: 1.1em;
}

.right-box-contact {
  margin: 0 1vw;
  width: 30%;
  background: rgba(255, 255, 255, 0.3);
  /* display: flex;
  flex-direction: column;
  justify-content: space-around; */
  /* opacity: 0.6; */
}

.right-box-header-contact {
  padding: 1.2em;
  letter-spacing: 0.2em;
}

.right-box-content-contact {
  font-family: sans-serif;
  letter-spacing: 0;
}

.fa-paper-plane:before {
  content: "\f1d8";
  color: #232854;
  background: #ffffff;
  padding: 0.3em;
  border-radius: 10px;
}

.send-button-contact {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
  border: 2px solid #ffffff;
  height: 7vh;
  margin-left: 20vw;
  margin-top: 2vh;
  margin-bottom: 1.5vh;
  align-items: center;
  color: #ffffff;
  width: 17vw;
  border-radius: 10px;
  min-width: 220px;
}
.send-button-contact:hover {
  background-color: #ffffff;
  color: #232854;
}

.left-content-button-contact {
  font-family: "Montserrat";
  font-size: 24px;
  letter-spacing: 0.2em;
  padding-left: 30px;
}
