.page {
  margin-left: 10vw;
  margin-right: 10vw;
}

.hero h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  color: #FFFFFF;
}

.hero-body{
  height: 970px;
}

.hero{
  background-image: url("https://aurlind.github.io/trinidad/lib/hero.png");
  background-size: cover;
  width: 100%;
  display: flex;
  position: absolute;
  left: 0;
}

.hero-spacer{
  width: 50vw;
}

.hero-text-box{
  display: flex;
  height: 970px;
  align-items: center;
}

.hero-quote{
  width: 40vw;
}

.hero-quote-name{
  float: right;
  margin-top: 10px;
}

.home-spacer{
  height: 80px;
}

.past-clients-body{
  height: 760px;
}

.past-clients{
  background-color: green;
  width: 100%;
  position: absolute;
  left: 0;
}