.specific-service-header {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  color: #3e5ba9;
  margin-left: 3vw;
}

.product-box {
  /* height: 40vh; */
  margin-top: 1em;
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  background-image: url("https://aurlind.github.io/trinidad/lib/specific-service.jpg");
  background-size: cover;
  background-position: center;
  text-align: right;
}

.product-information {
  width: 60;
  margin: 3em;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.product-information-header {
  font-size: 32px;
  margin-bottom: 1em;
}

.product-img {
  width: 40%;
  margin: 1em;
}

.reverse {
  flex-direction: row-reverse;
  text-align: left;
}
